.Router__navList {
  list-style-type: none;
  display: flex;
}

.Router__navList__link {
  color: inherit;
  display: block;
  font-weight: bold;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
}
.Router__navList__link:hover:after,
.Router__navList__link--active:after {
  background: gray;
  content: '';
  width: calc(100% - 2em);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 1em;
}
.Router__navList__link--active:after {
  background: white !important;
}
